exportPattern("^[[:alpha:]]+")
import("lpSolve","parallel","pcaPP","igraph")
importFrom("stats", "cov")
export(simule, plot.simule, net.neighbors,net.hubs,net.edges,net.degree)
importFrom("graphics", "plot")
