exportPattern("^[[:alpha:]]+")
import("lpSolve","parallel","pcaPP","igraph")
importFrom("stats", "cov")
export(wsimule, plot.wsimule, simule, plot.simule, net.neighbors,net.hubs,net.edges,net.degree)
S3method(plot,simule)
S3method(plot,wsimule)
importFrom("graphics", "plot")
