exportPattern("^[[:alpha:]]+")
import("lpSolve","parallel","pcaPP","igraph")
importFrom("stats", "cov")
export(wsimule, simule, plot.simule)
S3method(plot,simule)
S3method(plot,wsimule)
importFrom("graphics", "plot")
